:root {
  --primary-color: #000000;
  --primary-shade-color: #231f20;
  --accent-color: #f7941e;
  --secondary-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1440px;
  padding: 0 34px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  padding: 39px 34px 39px 80px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
  line-height: 2.16;
  color: var(--primary-shade-color);
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 31px;
}

.nav-link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* .btn-wrapper {
  margin-left: auto;
} */

.primary-btn {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
  padding: 14px 24px;
}
