<div class="mobile-menu is-hidden" data-menu-container>
  <div class="mobile-menu__container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link link" href="/">About Us</a></li>
        <li class="nav-item"><a class="nav-link link" href="/">Services</a></li>
        <li class="nav-item"><a class="nav-link link" href="/">Blogs</a></li>
      </ul>
    </nav>
    <button class="primary-btn primary-btn--center" type="button">Gift Finder</button>
  </div>
</div>
