.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section__nav,
.header-section__btn-wrapper {
  @media screen and (max-width: $desktop) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: block;
  }
}
