.nav-list {
    display: flex;
  }
  
  .nav-item:not(:last-child) {
    margin-right: 31px;
  }
  
  .nav-link {
    display: block;
    font-size: 18px;
    line-height: 1.22;
    color: $primary-color;
    padding: 47px 0;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: $accent-color;
  }
  